@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
// main vars
:root{
  --main-font: 'Poppins', sans-serif; // 300 - 400 - 700 *weight
  --main-color: #1ab1dc;
  --alt-color: rgb(45, 43, 70);
  --fade-main-color: rgba(26, 177, 220, 0.05);
  --dark-color: #3B3639;
  --semi-dark-color: #5D595D;
  --light-color: #FFFFFF;
  --fade-light-color: rgba(255, 255, 255, 0.7);
  --gray-color: #F4F7FD;
  --rad: 4px;
  --transit: 0.4s;
  --pad: 0.6rem 1.6rem;
  font-size: 15px;
}
// used vars
$main-f: var(--main-font);
$main-c: var(--main-color);
$alt-c: var(--alt-color);
$fade-main-c: var(--fade-main-color);
$fade-light-c: var(--fade-light-color);
$dark-c: var(--dark-color);
$semi-dark-c: var(--semi-dark-color);
$light-c: var(--light-color);
$gray-c: var(--gray-color);
$rad: var(--rad);
$ts: var(--transit);
$pad: var(--pad);
// regular styles
.container{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: visible;
  &-fluid{
    width: 90%;
    margin: 0 auto;
    // padding: 0 1.5rem;
    max-width: 100%;
  }
}
body{
  min-height: 3000px;
  background-color: $light-c;
  color: $dark-c;
  font-family: $main-f;
}
a{
  text-decoration: none;
  display: inline-block;
  color: $main-c;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-c{color: $main-c;}
.alt-c{color: $alt-c;}
.semi-d{color: $semi-dark-c;}
.inline{display: inline;}
.block{display: block;}
.inline-b{display: inline-block;}
.flex{display: flex;}
.grid{display: grid;}
.fixed{position: fixed;}
.relative{position: relative;}
.abs{position: absolute;}
.sticky{position: sticky;}
.static{position: static;}
.align-center{text-align: center;}
.align-left{text-align: left;}
.align-right{text-align: right;}
.bold{font-weight: bold;}
.normal{font-weight: 400;}
.thin{font-weight: 300;}
.upper{text-transform: uppercase;}
.capitalize{text-transform: capitalize;}
.lower{text-transform: lowercase;}
.pointer{cursor: pointer;}
.hide{display: none;}
input, textarea{
  border: 0;
  outline: none;
  padding: $pad;
  font-family: $main-f;
  border-radius: $rad;
}
input[type='submit'],
input[type='button']{@extend .btn;}
.display{
  &-1{font-size: 5rem;}
  &-2{font-size: 3.5rem;}
}
table{width: 100%;}
.btn{
  padding: $pad;
  border: 0;
  outline: none;
  border-radius: $rad;
  text-transform: uppercase;
  font-family: $main-f;
  cursor: pointer;
  transition: $ts;
  &.btn-main{
    background-color: $main-c;
    color: $light-c;
    font-size: 0.9rem;
  }
  &.btn-alt{
    background-color: $alt-c;
    border: 2px solid $light-c;
    color: $light-c;
  }
  &:hover{
    filter: brightness(110%);
  }
}
.bg{
  &-gray{background-color: $gray-c;}
  &-fade-main{background-color: $fade-main-c;}
  &-alt{background-color: $alt-c; color: $light-c;}
}
p,q{line-height: 1.7; word-spacing: 2px;}
.py{
  &-4{padding-top: 4rem; padding-bottom: 4rem;}
  &-2{padding-top: 2rem; padding-bottom: 2rem;}
}
.my{
  &-4{margin-top: 4rem; margin-bottom: 4rem;}
  &-2{margin-top: 2rem; margin-bottom: 2rem;}
}
.sec-header{
  color: $alt-c;
  font-size: 2.5rem;
  margin: 1.5rem 0 1rem;
}
.lead{
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: $semi-dark-c;
}
img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  &.cover{object-fit: cover;}
}
// end of config